.calcContainer{
    display: block;
    position: relative;
    margin: 0 auto;
    background-color: red;
    top: 20%;
    height: 350px;
    width: 250px;
    border: black solid 40px;
    border-radius: 2%;
    /* box-shadow: 10px 10px 60px 4px rgba(0, 0, 0, 0.568); */
}

.grid{
    display: grid;
    background-color: black;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 30px repeat(5, 1fr);
    grid-template-areas: 
    "screen screen screen screen"
    "margin margin margin margin"
    "clear divide multiply minus"
    "seven eight nine plus"
    "four five six plus"
    "one two three equals"
    "zero zero period equals";
}
.btn{
    font-size: 40px;
}

.screen{
    grid-area: screen;
    background-color: rgb(218, 208, 208);
    box-shadow: 0 0 0 11px #333;
    border-radius: 10px;
    font-size: 30px;
    font-family: monospace;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 8px;
    /* height: 90px;
    line-height: 90px; */
    text-align: right;
    overflow-x:auto;
    overflow-y: hidden;
}
.margin{
    grid-area: margin;

}
.btn.seven{
    grid-area: seven;
}
.btn.eight{
    grid-area: eight;
}
.btn.nine{
    grid-area: nine;
}
.btn.four{
    grid-area: four;
}
.btn.five{
    grid-area: five;
}
.btn.six{
    grid-area: six;
}
.btn.clear{
    grid-area: clear;
    font-size: 20px;
}
.btn.divide{
    grid-area: divide;
}
.btn.multiply{
    /* grid-area: multiply;
    display: flex;
    justify-content: center;
    align-items: center; */
    height: 100%;
    display: grid;
    /* vertical-align: middle; */

}
.multiplypara{
    margin: auto;
    /* vertical-align: middle; */
}
.btn.minus{
    grid-area: minus;
    display: grid;
}
.btn.plus{
    grid-area: plus;
}
.btn.one{
    grid-area: one;
}
.btn.two{
    grid-area: two;
}
.btn.three{
    grid-area: three;
}
.btn.zero{
    grid-area: zero;
}
.btn.period{
    grid-area: period;
    display: grid;
    align-content: flex-end;
}
.btn.equals{
    grid-area: equals;
}


