@font-face{
    font-family: 'euro';
    src: url(eurostile-font/eurostile\ font/EuroStyle\ Normal.ttf);
}
@font-face{
    font-family: 'typist';
    src: url(Typist/TYPIST.TTF);
}
@font-face{
    font-family: 'calculator';
    src: url(calculator/Calculator.ttf);
}


html, body{
    -webkit-appearance: none;
    -moz-appearance: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calcContainer{
    background-color: rgb(17, 30, 145);
    /* height: 156vw;
    width: 80vw; */
    height: 430px;
    width: 260px;
    /* border: rgb(17, 30, 145) solid 1px; */
    border-radius: 1% 1% 3% 3%;
    box-shadow: 0px 0px 0px 6px rgb(17, 30, 145);
}

.grid{
    display: grid;
    background-color: rgb(17, 30, 145);
    height: 100%;
    width: 100%;
    grid-template-columns: 3% 94% 3%;
    grid-template-rows:  3.6% 12% 20% 2% 57% 4%;
    grid-template-areas: 
    ". . ."
    ". screenarea ."
    "midsection midsection midsection"
    ". . ."
    ". buttongrid ."
    ". . ."; 
}

.buttongrid{
grid-area: buttongrid;
display: grid;
/* grid-template-rows: 28px 28px 28px 28px 28px 28px; */
grid-template-rows: repeat(6, 1fr);
/* grid-template-columns: 46px 46px 46px 10px 46px; */
grid-template-columns: repeat(3, 1fr) 10px 1fr;
row-gap: 12px;
column-gap: 10px;
border: rgba(0, 0, 0, 0.205) 4px solid;
padding: 8px;
border-radius: 2%;
grid-template-areas:
"filler1 filler2 filler3 margin divide" 
"filler4 filler5 filler6 margin multiply"
"seven eight nine margin minus"
"four five six margin plus"
"one two three margin equals"
"clear zero period margin equals";
-webkit-appearance: none;
-moz-appearance: none;
}
.btn{
    font-size: 16px;
    font-weight: bolder;
    font-family: euro, monospace;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 7%;
    border:none;
    box-shadow: 1px 1px 4px 2px rgb(0, 0, 0);
    background-color: rgb(212, 205, 205);
    display: flex;
    align-items: flex-start;
    text-align: left;
    justify-content: start;
    padding-top: 5px;
}

.screenarea{
    grid-area: screenarea;
    display: grid;
    grid-template-columns: 1fr 13fr 1fr;
    grid-template-areas: ". screen .";
}
.screenborder{
    display: flex;
    grid-area: screen;
    background-color: #333;
    padding-right:6px;
    padding-left:6px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: rgba(0, 0, 0, 0.582) 2px solid;

}
.screen{
    width: 100%;
    background-color: rgb(218, 208, 208);
    border: black 2px solid;
    border-radius: 8px;
    font-size: 38px;
    font-weight: bolder;
    font-family: calculator, monospace;
    padding-right: 8px;
    text-align: right;
    overflow-x:auto;
    overflow-y: hidden;
}
.margin{
    grid-area: margin;
}

.midsection{
    grid-area: midsection;
    padding-bottom: 8px;
    border-bottom: rgba(0, 0, 0, 0.205) 4px solid;
    display: grid;
    grid-template-rows: 2.2fr 1.8fr;
    grid-template-columns: repeat(18,1fr);
    grid-template-areas: ". ti ti ti ti ti ti ti ti ti ti model model model model model model model"
    ". panel panel panel panel panel panel panel panel . . . . . . . . ."
}
.ti{
    display: flex;
    color: white;
    font-family: sans-serif;
    text-transform: uppercase;
    grid-area: ti;
    width: auto;
    font-size: 15px;
    letter-spacing: -1.8px;
    font-weight: 400;
    align-self: center;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.model{
    grid-area: model;
    font-size: 28px;
    font-family: typist, monospace;
    font-weight: bolder;
    color: white;
    display: flex;
    align-items:flex-end;
    justify-content: left;
    -webkit-appearance: none;
    -moz-appearance: none;

}
.panel{
    grid-area: panel;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgb(25, 37, 23);
}
.subpanel1{
    border: black solid 1px;
}
.subpanel2{
    border: black solid 1px;
}
.subpanel3{
    border: black solid 1px;
}
.subpanel4{
    border: black solid 1px;
}
.btn.number{
    color: rgb(17, 30, 145);
}
.btn.operations{
    background-color: rgb(204, 6, 6);
    color: white;
    font-weight: 1000;
}
.btn.number:hover{
    background-color: black;
    color: white;
}
.btn.operations:hover{
    background-color: rgb(255, 203, 31);
    color: black;
}
.btn.filler1{
    grid-area: filler1;
}
.btn.filler2{
    grid-area: filler2;
}
.btn.filler3{
    grid-area: filler3;
}
.btn.filler4{
    grid-area: filler4;
}
.btn.filler5{
    grid-area: filler5;
}
.btn.filler6{
    grid-area: filler6;
}
.btn.seven{
    grid-area: seven;
}
.btn.eight{
    grid-area: eight;
}
.btn.nine{
    grid-area: nine;
}
.btn.four{
    grid-area: four;
}
.btn.five{
    grid-area: five;
}
.btn.six{
    grid-area: six;
}
.btn.clear{
    grid-area: clear;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bolder;
    padding-left: 2px;
    padding-top: 2px;
}
.btn.divide{
    grid-area: divide;
    content: "\00F7"
}
.btn.multiply{
    grid-area: multiply;
}
.btn.minus{
    grid-area: minus;
    /* font-stretch: ultra-expanded; */
}
.btn.equals{
    grid-area: equals;
}
.btn.plus{
    grid-area: plus;
}
.btn.one{
    grid-area: one;
}
.btn.two{
    grid-area: two;
}
.btn.three{
    grid-area: three;
}
.btn.zero{
    grid-area: zero;
}
.btn.period{
    grid-area: period;
    display: flex;
    justify-content: start;
    align-items: flex-start;
}

@media (max-width: 500px){
    .model{
        font-size: 24px;
        padding-bottom: 3px;
    }
    .ti{
        font-size: 12px;
        letter-spacing: 0px;
        padding-top: 2px;
    }
    .grid{
        grid-template-columns: 4% 90% 3%;
    }
    .buttongrid{
        row-gap: 10px;
        column-gap: 8px;
    }

}